# FVM Version Cache
.fvm/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.project
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# Flutter/Dart-specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android-specific
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

# iOS-specific
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.dylib
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/